 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

    body{
        background-color: rgb(241, 239, 236);
    }        
header{
    margin-left:250px;
}
main{
    width:800px;
    display:flex;
    justify-content:space-around;
}
.meet{
    margin-left:30px;
}
div{
    width:220px;
    height:470px;
    gap:10px;
    display:flex;
    flex-direction: column; 
    box-shadow: 0.5px .5px 2px rgba(0, 0, 0, 0.371);
    margin:10px;
}



.JD{
    font-weight:900;
    color:rgb(0, 0, 76);
    width:220px;
    height:200px;
    border: 2px solid rgb(255, 255, 255);
    display:flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, rgb(78, 78, 247), rgb(255, 255, 255));
    font-size: 60px;
}

.MR{
    font-weight:900;
    color:rgb(0, 0, 76);
    width:220px;
    height:200px;
    border: 2px solid rgb(255, 255, 255);
    display:flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, rgb(247, 78, 149), rgb(227, 90, 161));
    font-size: 60px;
}

.AC{
    font-weight:900;
    color:rgb(0, 10, 76);
    width:220px;
    height:200px;
    border: 2px solid rgb(255, 255, 255);
    display:flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, rgb(52, 248, 157), rgb(36, 230, 159));
    font-size: 60px;
}

.SP{
    font-weight:900;
    color:rgb(0, 0, 76);
    width:220px;
    height:200px;
    border: 2px solid rgb(255, 255, 255);
    display:flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, rgb(233, 236, 40), rgb(232, 154, 29));
    font-size: 60px;
}

.DK{
    font-weight:900;
    color:rgb(0, 0, 76);
    width:220px;
    height:200px;
    border: 2px solid rgb(255, 255, 255);
    display:flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, rgb(125, 125, 244), rgb(46, 46, 240));
    font-size: 60px;
}

.LJ{
    font-weight:900;
    color:rgb(0, 0, 76);
    width:220px;
    height:200px;
    border: 2px solid rgb(255, 255, 255);
    display:flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, rgb(208, 78, 247), rgb(185, 39, 171));
    font-size: 60px;
}



.name{
    padding-left:20px;
}
.position{
    padding-left:20px;
    color:rgb(99, 99, 199);
    font-size:13px;
    font-weight: 400;
    
}
.company{
    padding-left:20px;
    color:rgb(119, 119, 123);
    font-size:12px;
    font-weight: 600;
}
.desc{
    padding:20px;
    font-size:14px;
    font-weight: 400;
}
.skill{
    padding-left:20px;

}
.media{
    padding-left:20px;

}
.skill>.skill-item{
    list-style-type: none;
    text-align: center;
    width:90px;
    height:20px;
    display:inline;
    font-size: 12px;
    padding:5px;
    border-radius: 150px;
    color:rgb(11, 11, 174);
    background-color: rgba(98, 98, 255, 0.378);
}
.media>.media-item{
    list-style-type: none;
    text-align: center;
    width:90px;
    height:20px;
    display:inline;
    font-size: 12px;
    padding:5px;
    border-radius: 150px;
    color:rgb(11, 11, 174);
    background-color: rgba(184, 184, 223, 0.378);
    margin:5px;
    
}